/*=================================
=            Variables            =
=================================*/

/*----------  Colors  ----------*/
/*Branding color*/

$brand : #e57373;
$bg-left : #485563;
$bg-right: #29323c;

/* Black and white redefine */

$white : #f2f2f2;
$true-white : #fafafa;
$grey : #e5e5e5;
$black : #1e1e1e;

/*----------  Typography  ----------*/

$base-font-size : 16px;
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Cardo);

$sans-serif : 'Roboto', sans-serif;
$serif : 'Cardo', serif;

$heading : $serif;
$paragrah : $sans-serif;
/*=====  End of Variables  ======*/
