/*
   Small Stuff
*/
@import "normalize";
@import "vars";
@import "queries";
@import "mixins";

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: $white;
    color: $bg-left;
    font: $base-font-size $sans-serif;
    text-align: left;
    text-rendering: geometricPrecision;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/*----------  TYPE  ----------*/

h1 {
    font-size: 2rem;
    color: $white;
    font-family: $serif;
}

p:not(:first-child) {
    text-indent: 1.7rem;
}

p a {
    color: $brand;
    font-family: $sans-serif;
    font-style: italic;
    text-decoration: none;
    border-bottom: 1px solid $brand;
    padding-bottom: 0.25rem;
}

/* =============================================================================
  Layout
  ============================================================================ */

@include keyframes(slowOpac) {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}  
header {
    height: 92vh;
    width: 100%;
    background-image: linear-gradient(to right, $bg-left, $bg-right);
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    z-index: 2;
    .container {
        margin: 0 auto;
        max-width: 70rem;
        padding: 5rem 2rem;
    }
    h1 {
        font-size: 1em;
        font-weight: normal;
        padding-bottom: 3rem;
        font-family: $sans-serif;
    }
    .baseline {
        font-weight: lighter;
        font-size: 3.2rem;
        line-height: 1.4;
        margin: 0 auto;
        font-family: $serif;
        color: $brand;
        @include animation('slowOpac ease-out 1s');
        &:after {
            display: block;
            content: '';
            width: 35rem;
            height: 0.5rem;
            background: $white;
            position: relative;
            margin: 3rem 0;
        }
    }
    nav {
        @include animation('slowOpac ease-out 2s');
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                display: inline-block;
                padding: 1.25rem 0;
                text-transform: uppercase;
                font-size: 1.25rem;
                font-weight: bold;
                margin: 0;
                a {
                    padding: 1.25rem;
                    color: #fff;
                    opacity: .6;
                    text-decoration: none;
                    transition: all .25s ease-out;
                    position: relative;
                    &::after {
                        position: absolute;
                        top: 100%;
                        left: 0;
                        width: 50%;
                        height: 1px;
                        background: $brand;
                        content: '';
                        opacity: 0;
                        -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
                        -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
                        transition: height 0.3s, opacity 0.3s, transform 0.3s;
                        -webkit-transform: translateY(-10px);
                        -moz-transform: translateY(-10px);
                        transform: translateY(-10px);
                    }
                    &:first-child {
                        padding-left: 0;
                    }
                    &:hover, &:focus {
                        color: $brand;
                        outline: none;
                        &::after {
                            height: 0.25rem;
                            opacity: 1;
                            -webkit-transform: translateY(0px);
                            -moz-transform: translateY(0px);
                            transform: translateY(0px);
                        }
                    }
                }
            }
        }
    }
}

.social, .about, .work {
    max-width: 80vw;
    margin-right: auto;
    margin-left: auto;
    padding: 2rem;
}